.formField {
    padding-bottom: 20px;
}

.label {
    composes: text-bold text-sm from '~hds-core/lib/base.css';
    display: block;
}

.additionalInfo {
    margin-top: var(--spacing-layout-m);
    font-size: var(--fontsize-h-3);
}

.linebreak {
    height: 1px;
    width: 100%;
    background: #333;
    margin: 50px 0 15px;
}

.addressFields {
    margin-top: var(--spacing-l);
}

.multipleAddresses {
    margin-bottom: var(--spacing-l);
}

.buttonRow {
    margin-top: 50px;
    margin-bottom: 30px;
    max-height: 160px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.additionalActionsWrapper {
    color: var(--color-bus);
    font-size: var(--fontsize-body-small);
}

.additionalActionButton {
    margin: 5px 0 0 3px;
}

.button {
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
    width: 100%;
}

@media (min-width: 500px) {
    .button {
        margin: 0;
        width: 230px;
    }

    .buttonRow {
        flex-direction: row;
        margin-bottom: 0;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .formFields {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 750px;
    }

    .formField {
        flex-basis: 50%;
        max-width: 350px;
        padding: 10px 10px 10px 0;
    }

    .formField:nth-of-type(even) {
        padding-right: 0;
        padding-left: 10px;
    }

    .email {
        display: inline-block;
        margin-top: 20px;
    }
}