.hide-focus-borders:focus {
  border: none;
  outline: none;
}

.text-button {
  border: none;
  outline: none;
  color: var(--color-bus);
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
}
