.hide-focus-borders:focus {
  border: none;
  outline: none;
}

.text-button {
  border: none;
  outline: none;
  color: var(--color-bus);
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
}

.content-box {
  padding: var(--spacing-m) var(--spacing-s);
  border: 1px solid var(--color-black-40);
  border-left: 8px solid var(--color-gold);
  border-radius: 5px;
}

.borderless-content-box {
  padding: 0;
}

.bottom-border {
  border: 0;
  border-bottom: 8px solid var(--color-gold);
  border-radius: 0;
}

.bottom-border.bottom-border {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .content-box {
    padding: var(--spacing-l) var(--spacing-m);
  }
}
