.editor-description-container:not(:last-child) {
  padding-bottom: var(--spacing-layout-2-xs);
  margin-bottom: var(--spacing-layout-2-xs);
}

.bottom-border {
  border-bottom: 1px solid var(--color-black-30);
}

.editor-description-container h2,
.editor-description-container h3 {
  margin-top: 0;
  border: 0;
  padding-bottom: 0;
  margin-bottom: 0.33em;
}

span.visually-h2 {
  font-size: var(--h2-size);
  font-weight: 400;
  display: inline-block;
  width: 100%;
  padding-bottom: var(--spacing-layout-s);
  margin-top: var(--spacing-layout-2-xs);
  margin-bottom: var(--spacing-layout-l);
}

.editor-description-container h2:not(.normal-size) {
  font-size: var(--h3-size);
}

.editor-description-container > *:last-child {
  margin-bottom: 0;
}

.flex-box-rows,
.flex-box-columns,
.responsive-flex-box-columns-rows {
  display: flex;
  flex: 1;
  position: relative;
}

.flex-box-columns {
  flex-direction: column;
}

.flex-box-rows {
  flex-direction: row;
}

.responsive-flex-box-columns-rows {
  flex-direction: column;
}

.edit-buttons {
  margin: var(--spacing-3-xs) 0 0;
  align-items: center;
}

.edit-buttons button:not(:first-child) {
  margin: var(--spacing-xs) 0 0;
}

.edit-buttons.edit-buttons .edit-buttons-container button > div {
  margin-left: 0;
}

.edit-buttons.edit-buttons .edit-buttons-container button > span {
  padding-right: 0;
}

.responsive-button {
  width: 100%;
}

.text-value {
  word-break: break-all;
  margin-bottom: var(--spacing-s);
}

h3.label-size {
  font-size: var(--fontsize-body-m);
  font-weight: 500;
}

.form-field {
  padding-bottom: var(--spacing-m);
}

.edit-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0;
}

.edit-buttons-container button {
  padding: 0;
  width: 100%;
}

.visually-hidden {
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  composes: hiddenFromScreen from '~hds-core/lib/base.css';
  width: 1px;
}

.hidden-labels label {
  display: none;
}

.note {
  display: inline-block;
  font-size: var(--fontsize-body-s);
  padding-bottom: var(--spacing-xs);
}

.uneditable-box-content,
.editor-title-and-value,
.responsive-width-text-fields > *,
.editor-text-fields > *,
.editor-form-fields > * {
  padding-bottom: var(--spacing-m);
}

.last-item.last-item {
  padding-bottom: 0;
  margin-bottom: 0;
}

.form-buttons {
  padding-top: var(--spacing-m);
}

@media (max-width: 765.9px) {
  .editor-form-fields > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .mobile-xs-top-padding {
    padding-top: var(--spacing-m);
  }
  .mobile-no-bottom-padding {
    padding-bottom: 0;
  }
}

@media (min-width: 640px) {
  .responsive-flex-box-columns-rows.responsive-width-text-fields {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .responsive-width-text-fields > * {
    flex-basis: 33.333%;
  }
}

@media (min-width: 768px) {
  .editor-description-container:not(:last-child) {
    padding-bottom: var(--spacing-layout-xs);
    margin-bottom: var(--spacing-layout-xs);
  }

  .editor-text-fields,
  .editor-form-fields {
    flex-wrap: wrap;
  }
  .editor-text-fields > *,
  .editor-form-fields > * {
    flex-basis: 33.333%;
    box-sizing: border-box;
    flex-grow: 1;
  }
  .uneditable-box-content,
  .editor-title-and-value,
  .responsive-width-text-fields > *,
  .editor-text-fields > *,
  .editor-form-fields > * {
    padding: 0 var(--spacing-xl) var(--spacing-m) 0;
  }
  .common-editor-bottom-padding {
    padding-bottom: var(--spacing-xs);
  }
  .edit-buttons .edit-buttons-container {
    /* match the vertical padding of form/text elements */
    padding-bottom: var(--spacing-m);
  }
  .editor-title-and-value {
    width: 60%;
  }
  .uneditable-box-content > *:first-child,
  .editor-title-and-value > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  .uneditable-box-content > *:last-child,
  .editor-title-and-value > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .editor-title-and-value > *:last-child {
    margin-bottom: var(--spacing-s);
  }
  .editor-text-fields {
    width: 60%;
  }
  .editor-form-fields > * {
    max-width: 350px;
  }
  .responsive-width-text-fields > * {
    flex-basis: 25%;
  }
  .responsive-flex-box-columns-rows {
    flex-direction: row;
  }

  .edit-buttons {
    width: 40%;
    margin: 0;
    align-self: flex-end;
  }

  .edit-buttons button {
    margin: 0;
  }

  .edit-buttons button:not(:first-child) {
    margin: 0 0 0 var(--spacing-l);
  }

  .edit-buttons-container {
    flex: 1 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0;
  }

  .edit-buttons-container button {
    width: auto;
    padding: 0 var(--spacing-s);
  }

  .responsive-button {
    width: auto;
    align-self: flex-start;
  }

  .form-buttons {
    align-self: flex-start;
  }
  .last-item.last-item .edit-buttons .edit-buttons-container,
  .last-item.last-item > * {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
