.wrapper {
    background-color: var(--color-bus);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.content {
    margin: 20px 10px;
    width: 95%;
    text-align: center;
    color: var(--color-white);
}

.logo {
    width: 170px;
    height: 80px;
}

.logo g {
    fill: var(--color-white);
}

.button {
    margin-top: 50px;
}

.content h2 {
    font-size: var(--fontsize-h-5);
}

.content button {
    min-width: auto;
}

@media (min-width: 600px) {
    .content {
        width: 600px;
    }
}

@media (min-width: 230px) {
    .content button {
        min-width: 230px;
    }
}
