.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1;
  background-color: var(--color-black-ultra-light);
}

.content.content {
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: var(--breakpoint-m);
  padding-top: var(--common-top-spacing);
  padding-bottom: var(--spacing-layout-l);
}

.content h1 {
  margin-top: var(--spacing-layout-m);
  margin-bottom: 0;
  line-height: var(--lineheight-s);
}

@media (max-width: 767.98px) {
  .content h1 {
    margin-top: var(--spacing-layout-xs);
    font-size: 2rem;
  }
}

.ingress {
  margin-top: var(--spacing-layout-l);
  margin-bottom: var(--spacing-layout-m);
  line-height: var(--lineheight-l);
  font-size: var(--fontsize-body-l);
}

@media (max-width: 767.98px) {
  .ingress {
    margin-top: var(--spacing-layout-xs);
    margin-bottom: var(--spacing-layout-s);
    font-size: var(--fontsize-body-s);
  }
}
