.wrapper {
  background: var(--color-black-ultra-light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: var(--spacing-layout-l) 0;
}

.content {
  width: 95%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 170px;
  height: 80px;
  background-color: var(--color-black);
}

button.button {
  margin-top: var(--spacing-layout-m);
}

.content h1 {
  font-size: var(--fontsize-heading-l);
}

.content h2 {
  line-height: var(--lineheight-l);
  font-size: var(--fontsize-heading-xs);
}

@media (min-width: 450px) {
  button.button {
    width: 230px;
  }

  .content h1 {
    font-size: var(--fontsize-heading-xl);
  }
}

@media (min-width: 600px) {
  .content {
    width: 600px;
  }
  .wrapper {
    padding: var(--spacing-layout-2-xl) 0;
  }
}
