.pageHeading {
  align-items: center;
  color: var(--color-bus);
  display: flex;
  min-height: 120px;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.pageHeading h1 {
  font-size: var(--fontsize-heading-m);
  font-weight: bold;
}

.userIcon {
  width: 54px;
  height: 54px;
  margin-bottom: var(--spacing-layout-2-xs);
}

@media (min-width: 768px) {
  .pageHeading {
    flex-direction: row;
    text-align: left;
  }

  .userIcon {
    width: 77px;
    height: 77px;
    margin-bottom: 0;
  }
  .pageHeading h1 {
    font-size: var(--fontsize-heading-xl);
    margin-left: var(--spacing-layout-xs);
  }
}

@media (min-width: 1200px) {
  .pageHeading {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
