.page-heading {
  align-items: center;
  color: var(--color-bus);
  display: flex;
  min-height: 120px;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.user-icon {
  width: 54px;
  height: 54px;
  margin-bottom: var(--spacing-layout-2-xs);
}

@media (min-width: 768px) {
  .page-heading {
    flex-direction: row;
    text-align: left;
  }

  .user-icon {
    width: 77px;
    height: 77px;
    margin-bottom: 0;
  }
  .page-heading h1 {
    margin-left: var(--spacing-layout-xs);
  }
}
