.container {
    min-width: 540px;
    padding: 30px;
    width: 18%;
    position: relative;
    background-color: var(--color-white);
    border-radius: 2px;
    border: none;
    z-index: 100;
}

.container:focus {
    outline: none;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.titleRow {
    display: flex;
    align-items: flex-start;
}
.titleRow > *:first-child {
    flex-grow: 1;
}

.closeButton {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: var(--spacing-layout);
    height: var(--spacing-layout);
}

.icon {
    width: 20px;
    height: 20px;
}

.content {
    width: 100%;
    display: flex;
    margin: var(--spacing-s) 0 var(--spacing-m) 0;
    flex-direction: column;
}

.content h3 {
    margin: 0;
    padding: 0;
}

.content ul {
    margin: 0;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


@media (max-width: 540px) {
    .container {
        min-width: 300px;
    }

    .actions {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .button:last-of-type {
        margin: 0 0 var(--spacing-2-xs) 0;
    }
}

