.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--spacing-l) 0;
}

.group-container {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-m);
  border: 1px solid #a09c9c;
}

.transaction {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--color-white);
  padding: var(--spacing-xs) var(--spacing-xs);
}

.transaction-grid {
  display: grid;
  grid-template-columns: 24px 2fr 4fr 1fr 80px;
  grid-template-areas: 'calendar content content status button';
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-gap: 10px;
  width: 100%;
  align-items: center;
  justify-items: start;
}

.transaction-content {
  grid-column: 2 / 6;
}

.grid-column-service-and-date {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
}
.grid-column-service-and-date .service {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  padding-right: var(--spacing-l);
  font-weight: bold;
}

.grid-column-status .tag-content {
  display: flex;
  align-items: center;
}

.grid-column-status .tag-text {
  padding: 0 var(--spacing-xs);
}

.grid-column-title,
.grid-column-service {
  opacity: 1;
}

.grid-column-calendar {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}
.grid-column-calendar .calendar-icon {
  height: 24px;
  background-color: #fff;
  z-index: 2;
}
.grid-column-button {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.transaction .grid-column-button.grid-column-button > button {
  padding: 0;
}
.transaction .grid-column-button.grid-column-button > button > span {
  padding: 0;
}

.indicator-line {
  position: absolute;
  left: 50%;
  width: 1px;
  margin-left: 0px;
  z-index: 1;
  border-left: 2px dotted rgb(0, 135, 65);
}

.transaction-position-first .grid-column-calendar-header .indicator-line {
  position: absolute;
  top: unset;
  bottom: -8px;
  height: 8px;
}

.transaction-position-last .indicator-line {
  top: -12px;
  bottom: unset;
  height: 16px;
}

.transaction-position-middle .indicator-line {
  top: -10px;
  bottom: -10px;
}

.transaction-position-first.transaction-closed .indicator-line {
  display: none;
}

.transaction .indicator-line.indicator-line-content {
  top: 0;
  bottom: -20px;
  height: auto;
}

.transaction.transaction-position-last .indicator-line.indicator-line-content {
  top: 0;
  bottom: 0;
}

.transaction:not(:first-of-type) .grid-column-title,
.transaction:not(:first-of-type) .grid-column-service {
  opacity: 0;
}

.transaction:not(:last-of-type)::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--color-black-10);
  height: 1px;
  bottom: 1px;
  left: 50px;
  right: 80px;
}

.transaction:not(.transaction-position-first)
  .grid-column-service-and-date
  .service {
  display: none;
}

.transaction:not(.transaction-position-first) .grid-column-calendar {
  justify-content: center;
}
