.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-s);
  padding-right: var(--spacing-xs);
  box-sizing: border-box;
}

.label {
  font-size: var(--fontsize-body-m);
  margin-bottom: var(--spacing-xs);
  font-weight: 500;
}

.value {
  font-size: var(--fontsize-body-l);
  white-space: pre-line;
}
