.profileSection {
  --horizontal-whitespace: var(--spacing-m);
  --title-fontsize: var(--fontsize-h-3);
  background: var(--color-white);
  border-radius: 2px;
  padding: var(--spacing-l) var(--horizontal-whitespace);
  margin-bottom: var(--spacing-xl);
}

.profileSectionTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: var(--spacing-l);
}

.profileSectionTitle h1 {
  font-size: var(--title-fontsize);
  margin-top: 0;
  margin-bottom: var(--spacing-s);
}

.profileSectionTitle p {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .profileSection {
    --horizontal-whitespace: var(--spacing-xl);
  }
}
