.profile-section {
  background: var(--color-white);
  border-radius: 2px;
  padding: var(--spacing-l) var(--content-horizontal-padding);
  margin-bottom: var(--spacing-xl);
}

.verified-data {
  background: none;
}
