.profile-section {
  margin-bottom: var(--spacing-xl);
}

.profile-section hr {
  margin: var(--spacing-l) 0 var(--spacing-s);
}

@media (min-width: 768px) {
  .profile-section hr {
    margin-top: var(--spacing-2-xs);
  }
}
