.dropdownWrapper {
    margin-left: 50px;
    float: left;
    position: relative;
    font-size: 18px;
}

.dropdownWrapper button {
    display: flex;
    justify-items: center;
    border: none;
    background-color: inherit;
    margin: 0;
    align-items: center;
    font-weight: 500;
}

.navButton {
    max-width: 180px;
}

.label {
    max-width: 150px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.dropdownContent {
    position: absolute;
    right: 0;
    border: 1px solid var(--hds-ui-color-black-50);
    background: var(--hds-ui-color-white);
    z-index: 1;
    width: 256px;
}

.linkButton {
    color: var(--hds-ui-color-black);
    text-decoration: none;
}

.linkButton,
.dropdownContent button {
    width: 100%;
    min-height: 30px;
    padding: 10px;
    display: flex;
    font-weight: 500;
}

.linkButton:hover,
.dropdownContentOption:hover {
    background-color: var(--hds-ui-color-black-20);
}

.linkButton:not(:last-child),
.dropdownContentOption:not(:last-child) {
    border-bottom: 1px solid var(--hds-ui-color-black-30);
}

.linkButton:focus,
.dropdownContent button:focus,
.dropdownWrapper button:focus {
    outline: 1px solid var(--hds-brand-color-coat-of-arms-blue);
}
