.form-content-wrapper {
  display: flex;
  flex-direction: column;
}

.form-content-wrapper > * {
  padding: var(--spacing-xs) 0;
  box-sizing: border-box;
}

.notification-wrapper {
  margin: 0 0 var(--spacing-m) 0;
}

@media (min-width: 768px) {
  .form-content-wrapper > * {
    max-width: 350px;
  }
}
