.viewProfile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profileNav {
  display: none;
}
@media (min-width: 768px) {
  .profileNav {
    display: flex;
  }
}

.profileNavLink {
  color: var(--color-black);
  font-size: 17px;
  text-decoration: none;
  padding: 10px 40px 20px 10px;
}

.activeProfileNavLink {
  font-weight: bold;
}

.profileContent {
  background: var(--color-black-5);
  flex: 1;
  padding-bottom: 50px;
}

.title {
  font-size: 36px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1200px) {
  .title {
    padding-left: 10px;
  }
}

.contentWrapper {
  flex: 1;
  padding-top: var(--spacing-l);

  background-color: var(--color-black-5);
}
