.viewProfile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profileContent {
  background: var(--color-black-ultra-light);
  flex: 1;
  padding-bottom: 50px;
}

.contentWrapper {
  flex: 1;
  padding-top: var(--spacing-l);
  background-color: var(--color-black-ultra-light);
}
