.container {
  --vertical-padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
  padding: var(--vertical-padding) var(--content-horizontal-padding);
  background: var(--color-white);
}

.label-section {
  flex-grow: 1;
  margin-bottom: var(--vertical-padding);
}

.label-section > div {
  margin-bottom: 0;
}

@media (min-width: 450px) {
  .container {
    flex-direction: row;
  }
  .label-section {
    margin-bottom: 0;
  }
}
