.pageTitleContainer h1 {
  font-size: var(--fontsize-h-3);
  margin-top: 0;
  margin-bottom: var(--spacing-s);
}

.edit {
  font-weight: bold;
}

.edit:hover {
  cursor: pointer;
}

.personalInformation {
  --pi-horizontal-whitespace: var(--spacing-m);
  background: var(--color-white);
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: var(--spacing-l) var(--pi-horizontal-whitespace);
  margin-bottom: var(--spacing-xl);
}

.personalInformationTitleRow {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-m);
}

@media (min-width: 600px) {
  .personalInformation {
    --pi-horizontal-whitespace: var(--spacing-xl);
  }
}

@media (min-width: 768px) {
  .storedInformation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .storedInformation > * {
    width: 50%;
  }
}


