.container {
  --padding-v: var(--spacing-m);
  --padding-h: var(--spacing-m);

  display: flex;
  flex-direction: column;
  padding: var(--padding-v) var(--padding-h);

  background: var(--color-white);
}

.labelSection {
  flex-grow: 1;
  margin-bottom: var(--spacing-m);
}
.labelSection > div {
  margin-bottom: 0;
}

.link {
  display: flex;
}

.link > a {
  display: inline-flex;
  align-items: center;

  font-size: var(--fontsize-body-default);
  font-weight: bold;
  color: var(--color-bus);
  text-decoration: none;
}

@media (min-width: 450px) {
  .container {
    flex-direction: row;
  }

  .labelSection {
    margin-bottom: 0;
  }

  .link {
    justify-content: flex-end;
  }
}

@media (min-width: 600px) {
  .container {
    --padding-h: var(--spacing-xl);
  }
}