.addressFormActions{
  display: flex;
  position: absolute;
  left: 0;
  bottom: 10px;
  right:0;
}

.addActions{
  padding:var(--spacing-layout-s) 0 0 0;
}

.addressFormActions button, .addActions button{
  padding:0;
}  

.addressFormActions button span{
  padding:0;
}

@media (min-width: 768px) {
  .addressFormActions{
    position: absolute;
    left: auto;
    bottom: auto;
    right: 0;
    top: 0;
  }
}