.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgb(0, 0, 0);
  pointer-events: none;
}

.aligner {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  overflow-y: scroll;
  max-height: 100%;
}

.container .aligner {
  transform: translateY(100%);
  transition: transform 1s;
}
.container .overlay {
  opacity: 0.01;
  transition: opacity 1s;
}

.container.animate-in .aligner {
  transform: translateY(0%);
}
.container.animate-in .overlay {
  opacity: 0.7;
}

.content-spacing-and-border {
  border-top: 8px solid var(--color-bus);
  margin-top: 40px;
  box-sizing: border-box;
}

.content {
  position: relative;
  padding: var(--spacing-m);
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.settings-page-content {
  margin-top: var(--spacing-layout-xs);
  background: transparent;
}

.text-content {
  padding: 0;
}

.buttons {
  padding: 20px 0;
}

.buttons > * {
  margin: 0 20px 20px 0;
}

.language-switcher {
  position: absolute;
  z-index: 3;
  right: -57px;
  top: 20px;
  max-width: 200px;
  box-sizing: border-box;
  --header-focus-outline-color: var(--color-coat-of-arms);
}

.list {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.list li {
  padding-bottom: 10px;
}

.list li label {
  padding-left: 10px;
}

.plain-text-button {
  border: none;
  background: transparent;
  display: inline-block;
  text-decoration: underline;
  color: var(--color-bus);
  padding: 0;
  cursor: pointer;
}

.emulated-h1 {
  font-size: var(--fontsize-heading-m);
  font-weight: bold;
  display: block;
  padding: 0;
}

.emulated-h2 {
  font-size: var(--fontsize-heading-s);
  font-weight: bold;
  display: block;
  padding: 1.2em 0 0.5em;
}

.emulated-h2 + p {
  margin-top: 0;
}

.screen-reader-save-notification + p {
  margin-top: 0;
}

.content .emulated-h1 {
  margin-right: 50px;
}

.consent-data-table-container table tbody tr > *:nth-child(1) {
  width: 30%;
  word-break: break-word;
}
.consent-data-table-container table tbody tr > *:nth-child(2) {
  width: 50%;
}
.consent-data-table-container table tbody tr > *:nth-child(3) {
  width: 10%;
}
.consent-data-table-container table tbody tr > *:nth-child(4) {
  width: 10%;
}

.notification,
.frontpage-button {
  margin-top: var(--spacing-layout-xs);
}

.frontpage-button {
  display: block;
}

.mobile-table {
  background-color: var(--color-black-5);
  margin-top: var(--spacing-layout-xs);
  padding-top: var(--spacing-layout-xs);
}

.mobile-table-data-set {
  margin-bottom: var(--spacing-layout-xs);
}
.mobile-table-data-set div {
  margin-bottom: var(--spacing-layout-2-xs);
}

.mobile-table-data-set p {
  background-color: var(--color-white);
  padding: var(--spacing-layout-2-xs);
}

@media (min-width: 768px) {
  .language-switcher {
    right: 20px;
  }
  .buttons > * {
    margin-bottom: 0;
  }
}
