.panel-container {
  display: grid;
  grid-row-gap: var(--spacing-m);
  grid-template-rows: auto;
}

.service-information {
  margin-top: var(--spacing-m);
  font-weight: bold;
}

.allowed-data-field {
  display: block;
  margin-bottom: var(--spacing-xs);
}
.allowed-data-field:first-of-type {
  margin-top: var(--spacing-xs);
}

.created-at {
  font-weight: bold;
  margin: var(--spacing-m) 0 var(--spacing-2-xs);
}

.date-and-time {
  margin-top: 0;
}

.load-indicator {
  display: flex;
}
.load-indicator span {
  padding-left: var(--spacing-s);
}
