.service-connections {
  background: var(--color-black-ultra-light);
  flex: 1;
  padding-bottom: var(--spacing-l);
}

.empty {
  margin-top: var(--spacing-2-xl);
  margin-left: var(--spacing-s);
}

.service-information {
  margin-top: var(--spacing-m);
  font-weight: bold;
}

.allowed-data-field {
  display: block;
  margin-bottom: var(--spacing-xs);
}
.allowed-data-field:first-of-type {
  margin-top: var(--spacing-xs);
}

.created-at {
  font-weight: bold;
  margin: var(--spacing-m) 0 var(--spacing-2-xs);
}

.date-and-time {
  margin-top: 0;
}

.panel-container {
  display: grid;
  grid-row-gap: var(--spacing-m);
  grid-template-rows: auto;
  margin: var(--spacing-2-xl) 0 0;
}

@media (min-width: 1200px) {
  .empty {
    margin-left: 0;
  }
}
