.serviceConnections {
  background: var(--color-black-ultra-light);
  flex: 1;
}

.empty {
  margin-top: 45px;
  margin-left: 15px;
}

.serviceInformation {
  margin-top: 20px;
  font-weight: bold;
}

.allowedDataField {
  display: block;
  margin-bottom: 10px;
}
.allowedDataField:first-of-type {
  margin-top: 10px;
}

.createdAt {
  font-weight: bold;
  margin: 20px 0 5px;
}

.dateAndTime {
  margin-top: 0;
}

.panelContainer {
  display: grid;
  grid-row-gap: var(--spacing-m);
  grid-template-rows: auto;
  margin: 50px 0;
}

@media (min-width: 1200px) {
  .empty {
    margin-left: 0;
  }
}
