.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.content {
  padding: var(--spacing-layout-xs) var(--content-horizontal-padding);
}

.inner-content {
  text-align: center;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  padding: var(--spacing-layout-xs) var(--content-horizontal-padding);
}
