@media (min-width: 768px) {
  .formFields {
    max-width: 750px;
  }
  .formFields > div.formField {
    flex-basis: 50%;
  }
  .formField:nth-of-type(even) {
    padding-right: 0;
  }
}

.label {
  composes: text-bold text-sm from '~hds-core/lib/base.css';
  display: block;
}

.likeInput {
  composes: hds-text-input__input from 'hds-core/lib/components/text-input/text-input.css';
}

@media (min-width: 768px) {
  .email {
    display: inline-block;
    margin-top: 20px;
  }
}

.terms {
  --terms-margin-top: var(--spacing-m);
  --terms-margin-bottom: var(--spacing-l);
  margin: var(--terms-margin-top) 0 var(--terms-margin-bottom) 0;
}
@media (min-width: 768px) {
  .terms {
    --terms-margin-top: var(--spacing-l);
    --terms-margin-bottom: var(--spacing-xl);
  }
}
