@media (min-width: 768px) {
  .formFields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 750px;
  }
}

.formField {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .formField {
    flex-basis: 50%;
    max-width: 350px;
    padding: 10px 10px 10px 0;
  }
  .formField:nth-of-type(even) {
    padding-right: 0;
    padding-left: 10px;
  }
}

.label {
  composes: text-bold text-sm from '~hds-core/lib/base.css';
  display: block;
}
@media (min-width: 768px) {
  .email {
    display: inline-block;
    margin-top: 20px;
  }
}

.terms {
  --terms-margin-top: var(--spacing-m);
  --terms-margin-bottom: var(--spacing-l);
  margin: var(--terms-margin-top) 0 var(--terms-margin-bottom) 0;
}
@media (min-width: 768px) {
  .terms {
    --terms-margin-top: var(--spacing-l);
    --terms-margin-bottom: var(--spacing-xl);
  }
}
