.subscriptionsPage {
    background: var(--color-black-5);
    flex: 1;
}

.subscriptionsContainer {
    background: var(--color-white);
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 50px;
}

.subscriptionsContainer h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: var(--fontsize-h-3);
}

.subscription {
    margin-top: 10px;
    margin-bottom: 40px;
}

.empty {
    padding: 25px 0;
    margin: 0 20px;
}


.buttonRow {
    max-height: 120px;
    max-width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    margin-top: 20px;
}

@media (min-width: 500px) {
    .button {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .pageTitle {
        margin: 0;
    }
}
