.button {
  margin-top: var(--spacing-s);
}

.checkbox-container {
  margin-top: var(--spacing-l);
}

.loading-info {
  display: flex;
  align-items: center;
  margin: var(--spacing-xs) 0;
}

.loading-info p {
  margin: 0;
  padding-left: var(--spacing-m);
}
