.wrapper {
  display: flex;
  justify-content: center;

  font-size: var(--fontsize-body-medium);

  background: var(--color-bus-light-20);
}

/* Inspired by Bootstrap */
/* https://github.com/twbs/bootstrap/blob/a4a04cd9ec741050390746f8056cc79a9c04c8df/scss/mixins/_screen-reader.scss */
.srOnlyFocusable:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.accessibilityLink:focus {
  padding: var(--spacing-layout-xs) 0;
}
