.wrapper {
  background: var(--color-white);
  padding-top: var(--common-top-spacing);
  margin-bottom: 0;
}

.content {
  display: flex;
  padding-bottom: var(--common-top-spacing);
}

.koros {
  height: 14px;
  fill: var(--color-black-ultra-light);
}
