.logoFi {
    background-size: contain;
    background-color: var(--color-black);
    -webkit-mask: url("../svg/HelsinkiLogoFi.svg") no-repeat;
    mask: url("../svg/HelsinkiLogoFi.svg") no-repeat;
}

.logoSv {
    background-size: contain;
    background-color: var(--color-black);
    -webkit-mask: url("../svg/HelsinkiLogoSv.svg") no-repeat;
    mask: url("../svg/HelsinkiLogoSv.svg") no-repeat;
}

@media (min-width: 400px) {
    .logoSv {
        margin-right: 20px;
    }
}