.logo {
  background-color: var(--color-black);
  background-size: contain;
  height: 60px;
}

.logo-fi {
  width: 130px;
  -webkit-mask: url('../svg/HelsinkiLogoFi.svg') no-repeat;
  mask: url('../svg/HelsinkiLogoFi.svg') no-repeat;
}

.logo-sv {
  width: 175px;
  -webkit-mask: url('../svg/HelsinkiLogoSv.svg') no-repeat;
  mask: url('../svg/HelsinkiLogoSv.svg') no-repeat;
}
