.container {
    width: 100%;
    background: var(--color-white);
    margin: 15px 0;
}

.title {
    padding: 0 20px;
    min-height: 60px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h2 {
    margin-top: 11px;
    font-size: 22px;
    color: var(--color-bus-dark-50);
}

.title:hover {
    cursor: pointer;
}

.informationText {
    margin-right: 10px;
    color: var(--color-bus-dark-50);

}

.rightSideInformation {
    display: flex;
    align-items: center;
}

.content {
    padding: 0 20px;
    width: 80%;
    overflow: hidden;
}

.open {
    overflow: auto;
    height: 100%;
    padding-bottom: 20px;
}

.closed {
    height: 0;
}


@media (max-width: 400px) {
    .content {
        overflow-x: hidden;
    }
}


