.button {
  background: var(--color-bus);
  border: none;
  color: var(--color-white);
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 15px;
  min-width: 230px;
  width: 100%;
}

.button:hover {
  background: var(--color-bus-dark-50);
}

.button:disabled {
  background: var(--color-bus-light-20);
  cursor: not-allowed;
}

.outlined {
  background: var(--color-white);
  border: 1px solid var(--color-bus);
  color: var(--color-bus);
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 14px;
  min-width: 230px;
  width: 100%;
}

@media (min-width: 600px) {
  .button,
  .outlined {
    width: unset;
  }
}
