.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-black-ultra-light);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.no-scroll {
  overflow: hidden;
  max-height: 100vh;
}
