.wrapper {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: var(--spacing-layout-xs);
  background: transparent;
}

.inner-content {
  padding: var(--spacing-layout-xs) 0 0;
  box-sizing: border-box;
  max-width: var(--breakpoint-m);
}

.inner-content p {
  margin: var(--spacing-layout-2-xs) 0;
}

.inner-content img {
  border: solid 2px #000000;
  max-width: 600px;
  width: 100%;
}

.inner-content i {
  color: var(--color-black-90);
  display: block;
}

