.wrapper {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: var(--spacing-layout-xs);
  background: transparent;
}

.inner-content {
  padding: var(--spacing-layout-xs) 0 0;
  box-sizing: border-box;
  max-width: var(--breakpoint-m);
}

.inner-content p {
  margin: var(--spacing-layout-2-xs) 0;
}

.inner-content p.summary {
  font-size: 18px;
}

@media (max-width: 768px) {
  .inner-content {
    padding: 0;
  }

  .content {
    padding-top: 0;
    margin-top: 0;
  }
}

.inner-content img {
  border: solid 2px var(--color-black);
  max-width: 600px;
  width: 100%;
}

.inner-content p.image-text {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

a.download-link:not(:disabled) {
  border: solid 2px var(--color-black);
  background-color: white;
  color: var(--color-black);
  margin-top: var(--spacing-layout-xs);
}

a.download-link:not(:disabled):active:hover {
  border: solid 2px var(--color-black);
  background-color: #00005e26;
  color: var(--color-black-100);
}

a.download-link:not(:disabled):hover {
  background-color: #00005e26;
}

a.download-link:not(:disabled) span:first-of-type {
  margin-left: var(--spacing-layout-2-xs);
}
