.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-l) var(--spacing-xs) 0;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  margin: var(--spacing-xs) 0 0;
  justify-content: flex-end;
}
.buttons button {
  margin-left: var(--spacing-xs);
}
