.container {
    min-width: 540px;
    padding: 30px;
    width: 18%;
    position: relative;
    background-color: var(--color-white);
    border-radius: 2px;
    border: none;
}

.container:focus {
    outline: none;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
}

.close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.icon {
    width: 20px;
    height: 20px;
}

.content {
    width: 100%;
    display: flex;
    margin: 15px 0;
    flex-direction: column;
}

.content h3 {
    margin: 0;
    padding: 0;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: center;
}


@media (max-width: 540px) {
    .container {
        min-width: 300px;
    }

    .button {
        margin: 3px 0;
    }
}

