.container {
  --h2-fontsize: var(--fontsize-h-2);
  --h3-fontsize: var(--fontsize-h-3);
}

.container.margin {
  margin: 0 15px;
}

.main {
  margin-bottom: 30px;
}
.main.h2 {
  font-size: var(--h2-fontsize);
}
.main.h3 {
  font-size: var(--h3-fontsize);
}
.small {
  margin-top: 0;
  color: var(--color-black-70);
  font-size: 20px;
}

@media (min-width: 1200px) {
  .container.margin {
    margin: 0;
  }
}
