.container {
  --h2-fontsize: var(--fontsize-h-2);
  --h3-fontsize: var(--fontsize-h-3);
}

.container.margin {
  margin: 0 15px;
}

.main {
  margin-bottom: 30px;
}
.main.h2 {
  font-size: var(--fontsize-h-3);
}
.main.h3 {
  font-size: var(--fontsize-h-4);
}
.small {
  margin-top: 0;
  color: var(--color-black-70);
  font-size: 20px;
}

@media (min-width: 450px) {
  .main.h2 {
    font-size: var(--fontsize-h-2);
  }

  .main.h3 {
    font-size: var(--fontsize-h-3);
  }
}

@media (min-width: 1200px) {
  .container.margin {
    margin: 0;
  }
}
