.container {
  --h2-fontsize: var(--fontsize-heading-l);
  --h3-fontsize: var(--fontsize-heading-m);
}

.container.margin {
  margin: 0 var(--spacing-layout-xs);
}

.container h1,  
.container h2,  
.container h3{
  margin-bottom: 30px;
}
.container h2 {
  font-size: var(--fontsize-heading-m);
}
.container h3 {
  font-size: var(--fontsize-heading-s);
}
.small {
  margin-top: 0;
  color: var(--color-black-70);
  font-size: var(--fontsize-body-l);
}

@media (min-width: 768px) {
  .container h2 {
    font-size: var(--fontsize-heading-l);
  }

  .container h3 {
    font-size: var(--fontsize-heading-m);
  }
}

@media (min-width: 1200px) {
  .container.margin {
    margin: 0;
  }
}
