.editable-row {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: var(--fontsize-body-l);
  word-break: break-all;
  margin-bottom: var(--spacing-s);
}

@media (min-width: 768px) {
  .input-wrapper > * {
    flex-basis: unset;
    flex-grow: 1;
  }
}
