.header {
  background: var(--hds-ui-color-white);
  height: 64px;
  position: sticky;
}
@media (min-width: 768px) {
  .header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.inner {
  align-items: center;
  display: flex;
  height: 100%;
}

.logo {
  height: 40px;
}

.appName {
  font-size: 18px;
  font-weight: bold;
}

.navigation {
  margin-left: auto;
  padding-right: 20px;
}

.navigationControl {
  cursor: pointer;
}
@media (min-width: 768px) {
  .navigationControl {
    display: none;
  }
}

.navigationItems {
  display: none;
}
@media (min-width: 768px) {
  .navigationItems {
    display: block;
  }
}

@media (max-width: 768px) {
  .navigationItemsOpen {
    background: var(--hds-ui-color-white);
    display: block;
    min-height: calc(100vh - 64px);
    left: 0;
    position: absolute;
    top: 64px;
    width: 100%;
  }
}
