.container {
    --ep-horizontal-whitespace: var(--spacing-m);
    --ep-vertical-whitespace: var(--spacing-l);
    --ep-background: var(--color-white);
    --ep-accent-color: var(--color-bus);
    width: 100%;
    background: var(--ep-background);
}

.title {
    padding: 0 var(--ep-horizontal-whitespace);
    min-height: 60px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h2 {
    margin: var(--ep-vertical-whitespace) 0;
    font-size: 22px;
    color: var(--color-bus);
}

.rightSideInformation {
    display: flex;
    align-items: center;
}

.showInformation {
    margin-right: var(--spacing-s);
    font-size: var(--fontsize-body-small);
    font-weight: bold;
    color: var(--ep-accent-color);
}

.icon {
    height: var(--spacing-s);
    width: var(--spacing-s);
    fill: var(--ep-accent-color);
}

.iconDown {
    transform: rotateZ(90deg);
}

.iconUp {
    transform: rotateZ(-90deg);
}

.title:hover {
    cursor: pointer;
}



.content {
    padding: 0 var(--ep-horizontal-whitespace) var(--ep-vertical-whitespace);
    width: 100%;
    overflow: hidden;

    font-size: var(--fontsize-body-medium);

    /* Negates some of the padding has in order to place the content */
    /* closer to the title. Makes sure that content overlaps the */
    /* title in order to avoid focus outline obstructing content. */
    margin-top: calc(-1 * var(--ep-vertical-whitespace));
    background: var(--ep-background);
}

@media (max-width: 400px) {
    .content {
        overflow-x: hidden;
    }
}

@media (min-width: 600px) {
    .container {
        --ep-horizontal-whitespace: var(--spacing-xl);
    }

    .content {
        width: 80%;
    }
}
