.container {
  --vertical-padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
  padding: var(--vertical-padding) var(--content-horizontal-padding);
  border: 1px solid var(--color-black-40);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h2 {
  margin: 0;
  font-size: var(--h3-size);
  color: var(--color-bus);
}

.right-side-information {
  display: flex;
  align-items: center;
}

.right-side-information button {
  padding-right: 0;
  margin-right: calc(-1 * (var(--spacing-s)));
}

.show-information {
  margin-right: var(--spacing-s);
  font-size: var(--fontsize-body-s);
  font-weight: bold;
  color: var(--color-bus);
  text-transform: uppercase;
}

.card {
  padding: 0;
}

@media (min-width: 600px) {
  .card {
    max-width: 600px;
  }
}
