.container {
  --ep-horizontal-whitespace: var(--spacing-m);
  --ep-vertical-whitespace: var(--spacing-l);
  --ep-background: var(--color-white);
  --ep-accent-color: var(--color-bus);
  width: 100%;
  background: var(--ep-background);
}

.title {
  padding: 0 var(--ep-horizontal-whitespace);
  min-height: 60px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h2 {
  margin: var(--ep-vertical-whitespace) 0;
  font-size: var(--fontsize-heading-s);
  color: var(--color-bus);
}

.rightSideInformation {
  display: flex;
  align-items: center;
}

.rightSideInformation button {
  padding-right: 0;
  margin-right: calc(-1 * (var(--spacing-s)));
}

.showInformation {
  margin-right: var(--spacing-s);
  font-size: var(--fontsize-body-s);
  font-weight: bold;
  color: var(--ep-accent-color);
  text-transform: uppercase;
}

.card {
  padding-left: var(--ep-horizontal-whitespace);
  padding-right: var(--ep-horizontal-whitespace);
  /* Negates some of the padding has in order to place the content */
  /* closer to the title. */
  margin-top: -50px;
}

@media (min-width: 600px) {
  .container {
    --ep-horizontal-whitespace: var(--spacing-xl);
  }

  .card {
    width: 80%;
  }
}
