.hel-fi-styled-button-primary {
  --background-color: var(--color-black);
  --background-color-hover: transparent;
  --background-color-focus: transparent;
  --background-color-hover-focus: var(--color-black);

  --border-color: var(--color-black);
  --border-color-hover: var(--color-black);
  --border-color-focus: var(--color-black);
  --border-color-hover-focus: var(--color-black);

  --color: var(--color-white);
  --color-hover: var(--color-black);
  --color-focus: var(--color-black);
  --color-hover-focus: var(--color-white);

  --focus-outline-color: var(--color-black);
  --border-color-focus: var(--color-black);
}
.hel-fi-styled-button-secondary {
  --background-color: var(--color-white);
  --background-color-hover: var(--color-black);
  --background-color-focus: var(--color-black);
  --background-color-hover-focus: var(--color-white);

  --border-color: var(--color-black);
  --border-color-hover: var(--color-black);
  --border-color-focus: var(--color-black);
  --border-color-hover-focus: var(--color-black);

  --color: var(--color-black);
  --color-hover: var(--color-white);
  --color-focus: var(--color-white);
  --color-hover-focus: var(--color-black);

  --focus-outline-color: var(--color-black);
  --border-color-focus: var(--color-black);
}
