.create-profile {
  padding: 0 var(--spacing-s) var(--spacing-l);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-wrapper {
  flex: 1;
  padding-top: var(--spacing-l);
  background-color: var(--color-black-ultra-light);
}
