.container {
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.checkbox {
    min-width: 20px;
    min-height: 20px;
    -webkit-appearance: none;
    background-color: var(--color-white);
    border: 1px solid var(--color-bus-dark-50);
    position: relative;
}

.checkbox:checked {
    background-color: var(--color-bus-dark-50);
    color: var(--color-white)
}

.checkbox:checked:after {
    content: '\2714';
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 3px;
    color: var(--color-white);
}

.checkbox:checked:focus {
    outline: none;
}

.label {
    margin-left: 10px;
    font-size: 16px;
}
