.custom-theme.custom-theme {
  --footer-background: #000;
}

.link-with-icon {
  display: inline-flex;
  align-items: center;
}

.base-link-with-icon {
  --link-visited-color: var(--footer-color);
  --link-color: var(--footer-color);
  height: 21px;
}
