.nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.hidden {
  display: none;
}

.navControls {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.navItems {
  background: var(--color-white);
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;
}

.closeNav {
  margin-left: auto;
  height: auto;
  padding: 3px;
  width: 24px;
}

.navigationToggle {
  cursor: pointer;
}

.navLink {
  color: var(--color-black);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 45px;
  margin-top: 45px;
}

.languageSwitcher {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}
