@import "~hds-core/lib/helsinki.css";

:root {
  --soft-white: #fdfdfd;
  --font-helsinki-grotesk: "HelsinkiGrotesk", Arial, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --hds-primary-font: var(--font-helsinki-grotesk);
  font-family: var(--font-helsinki-grotesk);
}
