name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  common:
    uses: ./.github/workflows/ci-node.yml
    secrets: inherit
    with:
      node-version: 22.x
      extra-commands: yarn update-runtime-env
      
